@use '../../../styles/design-tokens' as dt;
@use '../../../styles/icons' as *;
@use '../../../styles/helpers/loading' as *;


.button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    gap: 4px;

    width: fit-content;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    font-weight: 500;
    font-size: 12px;
    line-height: dt.$typo-font-p-semi-bold-line-height;

    text-align: center;

    transition: all 0.2s ease;

    background: dt.$orange-20;
    color: dt.$orange-100;

    i {
        transition: color 0.2s ease;
        color: dt.$orange-100;
    }

    &:hover {
        background: dt.$blue-20;
        color: dt.$blue-100;

        i {
            color: dt.$blue-100;
        }
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.button-icon {
    display: flex;
    align-items: center;
}

.button-icon-left {
    order: -1;
}

.button-icon-right {
    order: 1;
}

.button-icon-only {
    padding: 0;
    width: 24px;
    border-radius: 12px;
    justify-content: center;
}

.button-green {
    background: dt.$green-20;
    color: dt.$green-100;

    i {
        color: dt.$green-100;
    }
}
.button-blue {
    background: dt.$blue-20;
    color: dt.$blue-100;

    i {
        color: dt.$blue-100;
    }
}
.button-orange{
    background: dt.$orange-20;
    color: dt.$orange-100;

    i {
        transition: color 0.2s ease;
        color: dt.$orange-100;
    }

}
.button-gray{
    background: dt.$gray;
    color: dt.$additional;

    i {
        transition: color 0.2s ease;
        color: dt.$additional;
    }

}
