@use '../../../styles/design-tokens' as dt;

.container {
    background: dt.$header;
    padding: 15px;
    width: 100%;

    & .logo {
        margin: 0 auto;
        display: block;
        width: max-content;

        & svg {
          display: block;
        }
    }
}
