@use '../../../styles/design-tokens' as dt;

.container {
    background: #000;
    padding: 15px;
    width: 100%;
    position: relative;

    & .logo {
        margin: 0 auto;
        display: block;
        width: max-content;

        & svg {
          display: block;
        }
    }

    & .right, & .left {
        position: absolute;
        bottom: 0;
        top: 0;
        width: 95px;
    }
    & .left {
        left: 0;
        background: dt.$orange-100;
    }
    & .right {
        right: 0;
        background: rgba(221, 115, 45, 0.8);
    }
}
