//primary-color
$primary-color: #0A2C60;
$primary-color-08: rgba(10, 44, 96, 0.8);
$primary-color-075: rgba(10, 44, 96, 0.75);
$primary-color-07: rgba(10, 44, 96, 0.7);
$primary-color-06: rgba(10, 44, 96, 0.6);
$primary-color-05: rgba(10, 44, 96, 0.5);
$primary-color-04: rgba(10, 44, 96, 0.4);
$primary-color-03: rgba(10, 44, 96, 0.3);
$primary-color-02: rgba(10, 44, 96, 0.2);
$primary-color-01: rgba(10, 44, 96, 0.1);
$primary-color-005: rgba(10, 44, 96, 0.05);

//red-color
$error-text-color: #C51414;
$error-text-color-06: rgba(237, 16, 16, 0.6);
$error-text-color-01: rgba(237, 16, 16, 0.1);
$hover-error-text-color: #FA2929;
