// General colors
$general-100: #131523;

// Green colors
$green-100: #2CAC0B;
$green-50: rgba(44, 172, 11, 0.5);
$green-20: rgba(44, 172, 11, 0.2);

// Red colors
$red-100: #9A1200;
$red-50: rgba(154, 18, 0, 0.5);
$red-20: rgba(154, 18, 0, 0.2);

// Blue colors
$blue-100: #231FE2;
$blue-50: rgba(35, 31, 226, 0.5);
$blue-20: rgba(35, 31, 226, 0.2);

// Orange colors
$orange-100: #D38B00;
$orange-50: rgba(211, 139, 0, 0.5);
$orange-20: rgba(211, 139, 0, 0.2);

// Other
$gray: #d9d9d9;
$header: #424343;
