// Bold
$typo-font-p-bold-family: "Inter", sans-serif;
$typo-font-p-bold-style: normal;
$typo-font-p-bold-weight: 400;
$typo-font-p-bold-size: 28px;
$typo-font-p-bold-line-height: 34px;
$typo-font-p-bold-color: #000;
// SemiBold
$typo-font-p-semi-bold-family: "Inter", sans-serif;
$typo-font-p-semi-bold-style: normal;
$typo-font-p-semi-bold-weight: 600;
$typo-font-p-semi-bold-size: 20px;
$typo-font-p-semi-bold-line-height: 24px;
$typo-font-p-semi-bold-color: #000;
// Medium
$typo-font-p-medium-family: "Inter", sans-serif;
$typo-font-p-medium-style: normal;
$typo-font-p-medium-weight: 600;
$typo-font-p-medium-size: 16px;
$typo-font-p-medium-line-height: 19px;
$typo-font-p-medium-color: #000;
// Regular
$typo-font-p-regular-family: "Inter", sans-serif;
$typo-font-p-regular-style: normal;
$typo-font-p-regular-weight: 400;
$typo-font-p-regular-size: 16px;
$typo-font-p-regular-line-height: 19px;
$typo-font-p-regular-color: #000;
