// Paragraphs
//// p regular
$typo-font-p-regular-family: "Inter", sans-serif;
$typo-font-p-regular-style: normal;
$typo-font-p-regular-weight: 400;
$typo-font-p-regular-size: 16px;
$typo-font-p-regular-line-height: 19px;
$typo-font-p-regular-color: #000;
//// p medium
$typo-font-p-medium-family: "Inter", sans-serif;
$typo-font-p-medium-style: normal;
$typo-font-p-medium-weight: 500;
$typo-font-p-medium-size: 16px;
$typo-font-p-medium-line-height: 19px;
$typo-font-p-medium-color: #000;
//// p3 semi bold
$typo-font-p-semi-bold-family: "Inter", sans-serif;
$typo-font-p-semi-bold-style: normal;
$typo-font-p-semi-bold-weight: 600;
$typo-font-p-semi-bold-size: 20px;
$typo-font-p-semi-bold-line-height: 24px;
$typo-font-p-semi-bold-color: #000;
