@use '../../../styles/design-tokens' as dt;

.container {

    & .header {
        @include dt.flexible();
        justify-content: space-between;
        padding: 8px 16px;

        & .name, & .status {
            font-size: dt.$typo-font-p-regular-size;
            font-weight: dt.$typo-font-p-regular-weight;
            line-height: dt.$typo-font-p-regular-line-height;
            color: dt.$additional;
        }
        & .status {
            @include dt.flexible();
            gap: 4px;
        }
    }

    & .main {
        margin-bottom: 15px;

        & .stream {
            display: block;
            max-width: 100%;
        }
    }

    & .footer {

        & .minimalValue {
            max-width: 260px;
        }
    }
}
