@use '../../../styles/design-tokens' as dt;

.container {
    min-height: 100vh;
    background: #f9f9f9;
    position: relative;

    & .inner {
        padding: 10px;
        max-width: 250px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 16px;

        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-50%);

        & .header {
            padding: 6px;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;

            background: dt.$orange-20;
            border-bottom: 1px solid #000000;
            border-radius: 8px;
        }

        & .title {
            text-align: center;
            margin-bottom: 20px;
            font-size: dt.$typo-font-p-semi-bold-size;
            font-weight: dt.$typo-font-p-semi-bold-weight;
            line-height: dt.$typo-font-p-semi-bold-line-height;
        }
        & .input {
            margin-bottom: 16px;
            padding: 0 24px;

            &:last-child {
                margin-bottom: 28px;
            }
        }
        & .button {
            width: max-content;
            margin: 0 auto;
        }
    }
}

