@use '../../../styles/design-tokens' as dt;

.layout {
    display: grid;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
        "camera analytics"
        "logs analytics"
    ;

    & .camera {
        grid-area: camera;
        user-select: none;
    }
    & .classes {
        grid-area: classes;
    }
    & .analytics {
        grid-area: analytics;
        user-select: none;
    }
    & .settings {
        grid-area: settings;
    }
    & .logs {
        grid-area: logs;
    }
}
